body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div.app {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: #edf3f7;
  & > .app--nav {

  }
  & > .app--page{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
    //min-width: 550px;
    & > .app--header{
      transition-duration: 1000ms;
      margin-bottom: -200px;
      padding: 20px 20px 200px;
      //background: linear-gradient(to top, #fc87d1 0%, #fa50bc 100%);
    }
    & > .app--content {
      flex-grow: 1;
      box-sizing: border-box;
      background-color: #ffffff;
      margin: 30px;
      padding: 10px;
      border-radius: 15px;
    }
  }
}

@media(max-width: 550px) {
  div.app {
    & > .app--nav {
      //width: 50px;
    }
    & > .app--page{
      & > .app--header{
        padding-left: 0;
        padding-right: 0;
      }
      & > .app--content {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}