.side-nav{
  font-size: 25px;
  font-family: "Comic Sans MS", sans-serif;

  &>.side-nav--content{
    background-color: #ffffff; 
    min-width: 300px;
    height: 100%;
    //transition-duration: 500ms;
    border-right: 1px solid #7a7a7a;
    &.collapsed{
      min-width: 90px;
      .side-nav--item-text{
        display: none;
      }
      .side-nav--logo{
        &>.side-nav--logo-text{
          display: none;
        }
      }
    }
    &>.side-nav--logo{
      margin-left: 20px;
      height: 100px;
      display: flex;
      align-items: center;
      cursor: pointer;
      .side-nav--logo-image{
        display: inline-block;
        width: 50px;
        height: 50px;
        background: url("../../assets/logo.svg") no-repeat center / cover;
      }
      .side-nav--logo-text{
        display: inline-block;
        margin-left: 10px;
        font-weight: 100;
      }
    }
    &>.side-nav--items{
      &>.side-nav--item{
        cursor: pointer;
        margin: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        &>.side-nav--item-image{
          width: 50px;
          height: 50px;
          background: url("../../assets/if_084_Photo_183212.svg") no-repeat center / cover;
        }
        &>.side-nav--item-text{
          margin-left: 10px;
        }
        padding: 10px;
        &:hover{
          background-color: #535bc9;
          color: white;
        }
      }
    }
  }
}
