.catalog{
  box-sizing: border-box;
  background-color: #ffffff;
  margin: 30px;
  padding: 20px;
  border-radius: 15px;
  &>.catalog--header{
    font-weight: 100;
    font-size: 24px;
    font-family: "Comic Sans MS", sans-serif;
    margin: 5px 0;
  }
  &>.catalog--items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}