.ls--page{
    display: flex;
    justify-content: center;
}

.ls--page--form{

}

.ls--event-form{
    border-top: 1px solid #e5e5e5;
    background-color: #fafafa;
    font: 1.25em/1.25 Arial, sans-serif;
    padding: 0 10px;
}

.ls--event-form--row{

}

.ls--form-field{
    display: block;
    font-size: 0.7rem;
    color: #acacac;
    margin-top: 12px;
}

.ls--form-field--date-picker{
    box-sizing: border-box;
    padding: 0;
    border-width: 0;
    border-bottom: 3px solid #d20000;
    background-color: inherit;
    font: inherit;
    font-size: 1.2rem;
}

.ls--form-field--date-picker__margin-left{
    margin-left: 10px;
}

.ls--form-field--date-picker__width{
    width: 200px;
}

.ls--event-form--error-message{
    color: #dc2d2d;
    padding-top: 5px;
    font-size: 0.7rem;
    font-weight: bold;
}

.ls--event-form--textarea{
    width: 100%;
    border-width: 0;
    resize: none;
    background-color: inherit;
    font: inherit;
    font-size: 1rem;
    margin-top: 3px;
    line-height: 1.4;
}

.ls--form-field--textbox{
    box-sizing: border-box;
    border-width: 0;
    background-color: inherit;
    font: inherit;
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid #f0f0f0;
    font-size: 1rem;
}

.ls--event-form--submit-button{
    position: relative;
    color: #179905;
    font-size: 0.7em;
    border-width: 0;
    background-color: inherit;
    margin-top: 4.2em;
    font-weight: 800;
    float: right;
    width: auto;
}

.ls--event-form--submit-button:before{
    content: "✔";
    color: #179905;
    font-size: 2em;
    border-radius: 50%;
    width: 1.3em;
    height: 1.3em;
    border: 7px solid #179905;
    background-color: inherit;
    float: right;
    position: absolute;
    top: -2em;
    left: calc(50% - 0.65em - 6px);
    line-height: 1.25;
    font-weight: 800;
}

