body{
    margin: 0;
    font-size: 11px;
    font-family: Arial, serif;
}

div.block{
    box-sizing: border-box;
    padding: 20px 40px;
}

div.block.dark-block{
    background-color: #333333;
}

div.block.light-block{
    background-color: #ffffff;
}

div.block.border{
    border-radius: 3px;
    border: 1px solid #eaeaea;
}

button.btn,
input[type="reset"].btn,
input[type="button"].btn,
input[type="submit"].btn{
    outline: 0 !important;
    border-width: 0;
    border-radius: 4px;
    font: 1em/1.25 Arial, serif;
    box-sizing: border-box;
    padding: 4px 10px;
    font-weight: bold;
    color: #ffffff;
    box-shadow: 0 1px 2px #2b2b2b;
}

button.btn.large,
input[type="reset"].btn.large,
input[type="button"].btn.large,
input[type="submit"].btn.large{
    font-size: 2.3em;
}

button.btn.small,
input[type="reset"].btn.small,
input[type="button"].btn.small,
input[type="submit"].btn.small{
    font-size: 0.8em;
}

button.btn.primary,
input[type="reset"].btn.primary,
input[type="button"].btn.primary,
input[type="submit"].btn.primary{
    background: linear-gradient(to top, #E22493 0%, #E853AB 100%);
}

button.btn.success,
input[type="reset"].btn.success,
input[type="button"].btn.success,
input[type="submit"].btn.success{
    background: linear-gradient(to top, #9CC424 0%, #ABCC43 100%);
}

button.btn.info,
input[type="reset"].btn.info,
input[type="button"].btn.info,
input[type="submit"].btn.info{
    background: linear-gradient(to top, #4190E9 0%, #5E9EE9 100%);
}

button.btn.danger,
input[type="reset"].btn.danger,
input[type="button"].btn.danger,
input[type="submit"].btn.danger{
    background: linear-gradient(to top, #EC3E3E 0%, #EC5C5C 100%);
}

button.btn.warning,
input[type="reset"].btn.warning,
input[type="button"].btn.warning,
input[type="submit"].btn.warning{
    background: linear-gradient(to top, #FF701D 0%, #FF823C 100%);
}

button.btn.confirm,
input[type="reset"].btn.confirm,
input[type="button"].btn.confirm,
input[type="submit"].btn.confirm{
    background: linear-gradient(to top, #FFC02F 0%, #FFC54B 100%);
}