.side-nav{
  font-size: 25px;
  font-family: "Comic Sans MS", sans-serif;

  &>.side-nav--content{
    background-color: #ffffff; 
    min-width: 300px;
    height: 100%;
    transition-duration: 500ms;
    border-right: 1px solid #7a7a7a;
    &.collapsed{
      min-width: 90px;
      .side-nav--logo{
        &>.side-nav--logo-text{
          font-size: 0;
          margin-left: 0;
        }
      }
      &>.side-nav--items{
        &>.side-nav--item{
          .side-nav--item-text{
            font-size: 0;
            margin-left: 0;
          }
        }
      }
    }
    &>.side-nav--logo{
      margin-left: 20px;
      height: 100px;
      display: flex;
      align-items: center;
      cursor: pointer;
      .side-nav--logo-image{
        display: inline-block;
        width: 50px;
        height: 50px;
        background: url("../../../assets/logo.svg") no-repeat center / cover;
      }
      .side-nav--logo-text{
        transition-duration: 500ms;
        display: inline-block;
        margin-left: 10px;
        font-weight: 100;
      }
    }
    &>.side-nav--items{
      &>.side-nav--item{
        transition-duration: 1000ms;
        cursor: pointer;
        margin: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        color: #323232;
        text-decoration: none;
        &>.side-nav--item-image{
          transition-duration: 1000ms;
          width: 50px;
          height: 50px;
          background: url("../../../assets/public-black.svg") no-repeat center / cover;
        }
        &>.side-nav--item-text{
          transition-property: font-size;
          transition-duration: 500ms;
          margin-left: 10px;
        }
        padding: 10px;
        /*&:hover{
          background-color: #535bc9;
          color: white;
          &>.side-nav--item-image{
            background: url("../../assets/public-white.svg") no-repeat center / cover;
          }
        }*/
      }
    }
  }
}

@media(max-width: 775px) {
  .side-nav{
    font-size: 20px;
    &>.side-nav--content{
      &.collapsed{
        min-width: 70px;
        .side-nav--item-text{
        }
        .side-nav--logo{
          &>.side-nav--logo-text{
          }
        }
      }
      &>.side-nav--logo{
        .side-nav--logo-image{
          width: 30px;
          height: 30px;
        }
        .side-nav--logo-text{
        }
      }
      &>.side-nav--items{
        &>.side-nav--item{
          &>.side-nav--item-image{
            width: 30px;
            height: 30px;
          }
          &>.side-nav--item-text{
          }
        }
      }
    }
  }
}