.catalog {
  min-height: 200px;
  & > .catalog--header {
    font-weight: 100;
    font-size: 24px;
    font-family: "Comic Sans MS", sans-serif;
    margin: 5px 20px;
    .catalog--icon{
      margin-left: 20px;
      width: 25px;
      height: 25px;
    }
  }
  & > .catalog--items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .catalog--item {
      margin: 20px;
      width: 200px;
      height: 400px;
      transition-duration: 500ms;
      &:hover {
        transform: scale(1.1);
      }
    }
    a {
      text-decoration: none;
    }
  }
}
