.dropdown {
  font-size: 15px;
  font-family: "Comic Sans MS", sans-serif;
  line-height: 2;
  cursor: pointer;
  user-select: none;
  color: #515151;
  &.collapsed > .dropdown--current-item > .dropdown--arrow{
    transform: rotate(180deg);
  }
  &.collapsed > .dropdown--current-item{
    border-radius: 3px;
  }
  & > .dropdown--current-item {
    border: 1px solid #808080;
    width: 200px;
    background-color: #fafafa;
    border-radius: 3px 3px 0 0;
    box-sizing: border-box;
    position: relative;
    &>.dropdown--current-item-text{
      display: inline-block;
      min-height: 20px;
      overflow: hidden;
      text-align: center;
      width: 185px;
    }
    &>.dropdown--arrow{
      display: inline-block;
      font-size: 15px;
      position: absolute;
      line-height: 2;
      right: 0;
      color: #616161;
      transition-duration: 250ms;
    }
  }
  & > .dropdown--items {
    box-sizing: border-box;
    border: 1px solid #808080;
    position: absolute;
    width: 200px;
    background-color: #fafafa;
    & > .dropdown--item {
      text-align: center;
      overflow: hidden;
      &:hover{
        background-color: #ebebeb;
      }
    }
  }
}