.header{
  /*background: linear-gradient(to top, #006dfc 0%, #5359c9 100%);*/
}

.header--content{
  /*margin-bottom: -200px;
  padding: 20px 20px 200px;*/
}

.header--search{
  display: flex;
  flex-wrap: wrap;
}

.search-info{
  display: flex;
  flex-wrap: wrap;
}

.search-info--item{
  margin: 10px;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 20px;
  color: white;
}

.search-info--value{
  text-align: center;
}

.search-info--text{
  text-align: center;
  font-size: 12px;
}

.price:before{
  content: "$";
}
