.header{
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to top, #006dfc 0%, #5359c9 100%);
  height: 260px;
  margin-bottom: -200px;
  padding: 20px;
  align-items: flex-start;
}

.search-info{
  display: flex;
  justify-content: space-between;
}

.search-info--item{
  margin: 10px;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 20px;
  color: white;
}

.search-info--value{
  text-align: center;
}

.search-info--text{
  text-align: center;
  font-size: 12px;
}

.price:before{
  content: "$";
}
