.page{
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Comic Sans MS", sans-serif;
  .page--header{
    padding: 20px 30px;
    .header{
      .search-info{
        display: flex;
        flex-wrap: wrap;
        .search-info--item{
          margin: 10px;
          font-family: "Comic Sans MS", sans-serif;
          font-size: 20px;
          color: white;
          .search-info--value{
            text-align: center;
          }
          .search-info--text{
            text-align: center;
            font-size: 12px;
          }
        }
      }
    }
  }
  .page-content{
    position: relative;
    flex-grow: 1;
    box-sizing: border-box;
    background-color: #ffffff;
    margin: 0 30px 30px;
    padding: 10px;
    border-radius: 15px;
  }
}

.price:before{
  content: "$";
}

@media(max-width: 550px) {
  .page{
    .page--header{
      padding: 20px 0;
      .header{
        .search-info{
          .search-info--item{
            .search-info--value{
            }
            .search-info--text{
            }
          }
        }
      }
    }
    .page-content{
      margin-left: 0;
      margin-right: 0;
    }
  }
}