.style-card{
  display: flex;
  position: relative;
  /*background-color: black;*/
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.style-card--star{
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  margin: 10px;
  transition-duration: 500ms;
  &:hover{
    transform: scale(1.3);
  }
}

.style-card--image{
  transition: 1000ms;
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.blur .style-card--info{
  display: block;
}

.style-card--info{
  display: none;
  transition: 1000ms;
  padding: 10px;
  color: rgba(255, 255, 255, 0);
  font-family: "Comic Sans MS", sans-serif;
  line-height: 2;
  font-size: 20px;
  margin: auto;
  text-align: center;
  & > .style-card--name {
    text-align: center;
  }
  & > .style-card--price {
    text-align: center;
    &:after {
      content: "$";
    }
  }
}

.style-card:hover .style-card--info{
  color: rgba(255, 255, 255, 100);
  transform: scale(1.1);
}

.style-card.blur:hover .style-card--image{
  filter: blur(2px) brightness(60%);
  //opacity: 0.75;
  transform: scale(1.1);
}